<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <title>{% if page.title %}{{ page.title }} // {% endif %}{{ site.title }}</title>
</head>
<body>
    <div class="main">
        <div class="clock" id="clock"></div>
        <h1>root@dbx0.lol ˜/ $ ls</h1>
        {% include header.html %}
        <div class="content">
            {{ content }}
        </div>
    </div>
    
    {% include clock.html %}
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
</body>
</html>

